body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 8px;
    gap: 8px;
    padding: 8px;
}

.input-view {
    display: flex;
    justify-content: flex-end;
    padding: 8px 16px;
    align-items: center;
    background-color: lightgray;
    border-radius: 8px;
    font-size: 60px;
}

.buttons-grid,
.regular-container,
.operator-container,
.numbers-row {
    display: flex;
    gap: 4px;
}

.regular-container {
    flex-direction: column;
}

.numbers-row {
    justify-content: center;
}

.operator-container {
    flex-direction: column;
}

.button {
    border: 0px;
    border-radius: 8px;
    width: 7vw;
    height: 8vh;
    font-size: 20px;
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}