body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(circle, blue, purple);
}

.calculator-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 4px solid white;
    border-radius: 8px;
    gap: 8px;
    padding: 8px;
    max-width: 25vw;
}

.input-view {
    display: flex;
    justify-content: flex-end;
    padding: 8px 16px;
    align-items: center;
    background-color: lightgray;
    border-radius: 8px;
    font-size: 60px;
}

.buttons-grid,
.regular-container,
.operator-container,
.numbers-row {
    display: flex;
    flex: 1;
    gap: 4px;
}

.regular-container {
    flex-direction: column;
}

.numbers-row {
    justify-content: center;
}

.operator-container {
    flex: 0.3;
    flex-direction: column;
}

.button {
    flex: 1;
    border: 0px;
    border-radius: 8px;
    height: 8vh;
    font-size: 20px;
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}